* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assest/Background.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.80;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 10;

}

nav span {
    color: rgb(255, 0, 0);
    width: 135px;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    font-style: inherit;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font: netflix-sans, Helvetica, Arial, sans-serif;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero-buttons > input:focus{
    color: white;
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.hero> :nth-child(4) {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

@media screen and (max-width:800px) {
    nav {
        max-width: 90vw;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 32px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero> :nth-child(4) {
        font-size: 16px;
    }
}

.line {
    height: 7px;
    background-color: rgb(51, 51, 51);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding: 9px 35px;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
    color: white;
}

.btn-lan {
    background-color: transparent;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 30px 3px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    color: white;
    padding: 30px 30px 30px;
}

@media screen and (max-width: 800px) {
    .first {
        flex-wrap: wrap;
    }

}

.first img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.first-img {
    position: relative;
    max-height: 300px;
}

.first-img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.second-img {
    position: relative;
    padding-right: 500px;
}


.first div :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px 0;
}

.first div :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}


.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.faq {
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 40px;
}

.que {
    background-color: rgb(34, 33, 33);
    max-width: 40vw;
    color: white;
    margin: 30px auto;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 2s ease-out;
    cursor: pointer;
}

.que:hover {
    background-color: rgba(65, 65, 65, 1);
}

.login {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
}

footer {
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 34px;
}

.question {
    padding: 20px 0;
}

footer a {
    color: white;
    font-size: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 60vw;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 60vw;
        margin: auto;
    }

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Disclaimer {
    padding-top: 30px;
    font-size: medium;
    font-weight: bold;
    opacity: 0.5;

}
